body{
    background-color: #292110;
    color: #d8d8d8;
    padding: 0;
    margin: 0;
}
#topbar {
    padding: 1% 0.75%;
    font-size: 300%;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.33);
}
#upgrades{
    padding: 4vw;
    font-size: 300%;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.33);
}
.custom-button {
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5vh;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.nodisplay{
    display: none;
}

input {
    font-size: 100%;
}
button {
    font-size: 100%;
}

#clickButton{
    touch-action: manipulation;
    position: absolute;
    color: #d8d8d8;
    border: none;
    font-size: 500%;
    padding: min(20vw, 20vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pbar-background);
    border-radius: 30%;
}

:root
{
    --pbar-background: rgba(0, 0, 0, 0.3);

    --pbar-foreground: rgba(68, 68, 68, 0.345);

    --timeout-millisec: 1000;

    --prestigeHue: 1;
    --prestigeSat: 1;
}
#prestige{
    color: hsl(var(--prestigeHue), calc(var(--prestigeSat) * 1%), 50%);
}
.pbar-active {
    background-size: 200% 100%;
    background-image: linear-gradient(to left, var(--pbar-foreground) 50%, var(--pbar-background) 50%);
    animation: progressbar calc(var(--timeout-millisec) * 1ms) linear forwards;

}
.pbar-inactive {
    background-color: var(--pbar-background);
}

@keyframes progressbar {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
}
