.center{
  color:#fff6e0;
  background-color: #665b3d80;
  text-align:center;
  margin:5%;
  padding:2%;
  border-radius: 15px;
}
h2{
  margin: 0px;
}
h4{
  margin: 0px;
}
body{
  background-color: #ffe6a7;
}
#video-player{
  width: 25%;
}
